
<div class="starter-template">
        <h1>Enter your Email</h1>
        <p class="lead">Hello World Again</p>
</div>

<div class="col-md-8 col-md-offset-4">
  <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>
